* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.42;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  width: 95%;
  max-width: 1178px;
  padding: 0px 6px;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 33px 0px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 58px;
  display: flex;
  align-items: center;
}

.logo__link {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
  color: #000000;
}

.logo__link:visited {
  color: inherit;
}

.logo__img-wrap {
  display: flex;
  width: 60px;
  height: 60px;
  margin-right: 15px;
  align-items: center;
}

.logo__img-wrap--circle {
  border: 2px solid black;
  border-radius: 50%;
  padding-bottom: 3px;
}

.logo__img {
  width: 41px;
}

.logo__title {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.logo__subtitle {
  font-weight: 300;
  font-size: 14px;
}

.nav {
  width: 322px;
  flex-shrink: 2;
  margin: 0px 10px;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__item {
  margin-right: 15px;
  font-size: 18px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  text-decoration: none;
  color: #000000;
}

.nav__link:hover {
  text-decoration: underline;
}

.contact {
  margin: 0px 10px;
}
.contact__tel {
  text-decoration: none;
  font-weight: bold;
  font-style: normal;
  font-size: 18px;
  color: #000000;
}

.basket {
  width: 152px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding-right: 15px;
  margin-left: 5px;
}
.basket__link {
  background: #ffbf42;
  width: 50.96px;
  height: 50.96px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.basket__img {
  width: 29px;
}
.basket__price {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
}

.basket__triangle {
  width: 11.62px;
  height: 11.62px;
  background: url(../img/icons/triangle__down.png) center/contain no-repeat;
}
.nav.nav--burger {
  display: none;
}
@media (max-width: 768px) {
  .header {
    margin-bottom: 61px;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .header__content {
    flex-grow: 1;
    flex-wrap: wrap;
  }
  .logo {
    margin-bottom: 10px;
  }
  .nav.header__nav {
    display: none;
  }
  .header__burger {
    display: block;
    position: relative;
    width: 55px;
    height: 33px;
    z-index: 30;
    margin-left: 23px;
    margin-right: 10px;
  }
  .header__burger::before,
  .header__burger::after {
    content: "";
    display: block;
    background-color: #000000;
    position: absolute;
    width: 50px;
    height: 5px;
    left: 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger span {
    position: absolute;
    background-color: #000000;
    left: 0;
    height: 5px;
    width: 55px;
    top: 14px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }

  .header__burger.active {
    position: fixed;
    top: 34px;
    right: 19px;
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    top: 14px;
    background-color: #ffffff;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    bottom: 14px;
    background-color: #ffffff;
  }

  .header__burger.active span {
    background-color: #ffffff;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }

  .header__burger-menu {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background-color: rgba(65, 43, 0, 0.86);
    z-index: 20;
  }

  .header__burger-menu.active {
    width: 100%;
  }

  .nav.nav--burger {
    display: block;
  }

  .header__burger-menu .nav {
    z-index: 25;
    position: absolute;
    top: 173px;
    right: 11px;
    width: auto;
  }

  .header__burger-menu .nav__list {
    flex-direction: column;
  }

  .header__burger-menu .nav__link {
    color: #ffffff;
    font-style: normal;
    font-weight: 300;
    line-height: 230.69%;
  }

  .header__burger-menu .nav__link:hover {
    color: #ffbf42;
  }
}

@media (max-width: 480px) {
  .header__container {
    position: relative;
    width: 100%;
    padding: 0px 5px;
    align-items: start;
  }
  .contact {
    margin: 0px 5px;
  }
  .contact__tel {
    font-size: 16px;
  }
  .basket {
    width: 130px;
  }
  .basket__link {
    width: 43px;
    height: 43px;
  }
  .basket__price-screen {
    font-size: 12px;
  }
  .header__burger {
    width: 35px;
    height: 24px;
    margin-right: 15px;
    margin-left: 5px;
  }
  .header__burger::before,
  .header__burger::after {
    width: 32px;
    height: 4px;
  }

  .header__burger span {
    height: 4px;
    width: 35px;
    top: 10px;
  }
}

.hero {
  height: 573px;
  display: flex;
  padding-bottom: 42px;
}

.hero__item {
  height: 100%;
}

.hero__content {
  flex: 0 0 100%;
  position: relative;
}

.hero__content .container {
  height: 100%;
}

.hero__body {
  z-index: 5;
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero__content:before {
  content: "";
  position: absolute;
  right: 50%;
  top: 0;
  width: 100vw;
  z-index: 10;
  height: 100%;
  margin-right: 15px;
  border-radius: 0px 500px 500px 0px;
  -webkit-border-radius: 0px 500px 500px 0px;
  -moz-border-radius: 0px 500px 500px 0px;
  -ms-border-radius: 0px 500px 500px 0px;
  -o-border-radius: 0px 500px 500px 0px;
  display: flex;
  align-items: center;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
}

.subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  color: #000000;
}

.info {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.hero__desc {
  margin: 31px 0px;
}

.button-catalog__link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 256px;
  height: 48px;
  font-weight: bold;
  font-size: 14px;
  background: #ffbf42;
  color: #000000;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.hero__img {
  flex: 0 0 50%;
  transform: translate(-100%, 0px);
  -webkit-transform: translate(-100%, 0px);
  -moz-transform: translate(-100%, 0px);
  -ms-transform: translate(-100%, 0px);
  -o-transform: translate(-100%, 0px);
  position: relative;
  border-radius: 500px 0px 0px 500px;
  -webkit-border-radius: 500;
  -moz-border-radius: 500;
  -ms-border-radius: 500;
  -o-border-radius: 500;
  overflow: hidden;
  box-shadow: -4px 4px 15px rgba(0, 0, 0, 0.25);
  margin-left: 15px;
}

.hero__pic {
  max-width: 100%;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.hero__dots {
  width: 92px;
  position: absolute;
  left: 50%;
  bottom: 37px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

@media (min-width: 1170px) {
  .hero__dots {
    left: 358px;
  }
}

.hero__dots-list {
  display: flex;
  justify-content: space-between;
}

.hero__dot {
  width: 12px;
  height: 12px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.1s ease 0.1s;
  -webkit-transition: background-color 0.1s ease 0.1s;
  -moz-transition: background-color 0.1s ease 0.1s;
  -ms-transition: background-color 0.1s ease 0.1s;
  -o-transition: background-color 0.1s ease 0.1s;
}

.hero__dot:hover {
  background-color: #ffbf42;
}

@media (max-width: 768px) {
  .hero {
    height: 942px;
    display: flex;
    flex-direction: column;
  }
  .hero__content {
    flex: 0 0 48%;
    margin-bottom: 4%;
    padding-left: 15%;
  }
  .hero__content:before {
    right: 18%;
  }
  .hero__body {
    width: 75%;
  }
  .hero__img {
    flex: 0 0 48%;
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    margin-left: 18%;
  }
}
@media (max-width: 480px) {
  .hero__content::before {
    right: 0;
    margin-right: 5px;
  }
  .hero__content {
    padding-left: 15px;
  }
  .hero__body {
    width: 100%;
  }
  .title {
    font-size: 24px;
  }
  .hero__desc {
    font-size: 13px;
    margin: 23px 0px;
  }
  .button-catalog__link {
    width: 217px;
  }
  .hero__img {
    margin-left: 5px;
  }
}
.product {
  padding-top: 42px;
  padding-bottom: 68px;
}

.product-size {
  margin-bottom: 28px;
}

.product__title-text {
  display: flex;
  flex-direction: column;
  margin-bottom: 28px;
}

.product__desc {
  margin: 13px 0px;
}

.product-size__list {
  display: flex;
}
.product-size__item {
  margin-right: 25px;
  position: relative;
}
.product-size__radio {
  position: absolute;
  top: 0;
  left: -9999px;
}

.work-size__radio-fake {
  width: 100px;
  height: 40px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.14);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.product-size__radio:checked + .work-size__radio-fake {
  background-color: #ffbf42;
}

.product__slider {
  position: relative;
}

.product__slider-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57px;
  height: 57px;
  background-color: #ececec;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  position: absolute;
}

.product__slider-link--left {
  left: -28px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.product__slider-link--right {
  right: -28px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
}

.product__list {
  min-height: 478px;
  display: flex;
  justify-content: center;
  padding: 0px 50px;
}

.product__item {
  width: 319px;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0px 33px 24px 33px;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.13);
  margin-right: 56px;
  margin-bottom: 68px;
}

.product__item:last-child {
  margin-right: 0;
}

.product__img-wrap {
  width: 100%;
  height: 301px;
  margin-bottom: 18px;
}
.product__img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
.product__name {
  font-weight: bold;
  font-size: 18px;
}
.product__desc {
  font-weight: 300;
  line-height: 131.19%;
}
.product__footer {
  display: flex;
  justify-content: space-between;
}
.product__price {
  font-weight: bold;
  font-size: 18px;
  line-height: 131.19%;
}
.product__btn {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 131.19%;
  padding: 9px 17px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #ffbf42;
  border-style: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .product__slider-control {
    display: none;
  }
  .product__list {
    justify-content: start;
    overflow-y: auto;
  }
  .product__item {
    flex-shrink: 0;
  }
}

@media (max-width: 480px) {
  .subtitle {
    font-size: 24px;
  }
  .product-size__list {
    justify-content: space-between;
  }
  .product-size__item {
    margin-right: 15px;
  }
  .work-size__radio-fake {
    width: 60px;
    height: 24px;
    font-size: 12px;
  }
  .product__list {
    padding: 0px 5px;
    min-height: 288px;
  }
  .product__item {
    width: 100%;
  }
  .product__desc {
    font-size: 12px;
    line-height: 131.19%;
  }
}

.galery {
  padding-bottom: 74px;
}

.galery__wrap {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 745px;
  position: relative;
  scrollbar-color: #c4c4c4 #ececec;
  scrollbar-width: thin;
}

.galery__wrap::-webkit-scrollbar {
  height: 13px;
}

.galery__wrap::-webkit-scrollbar-track {
  background-color: #ececec;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.galery__wrap::-webkit-scrollbar-thumb {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #c4c4c4;
  height: 50px;
}

/* ---- grid ---- */

.grid {
  /* background: #ddd; */
  width: 1171px;
  height: 100% !important;
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  width: 270px;
  height: 210px;
  margin-bottom: 37px;
  background: #0d8;
}

.grid-item:last-child {
  margin-bottom: 0px;
}

.grid-item--width2 {
  width: 270px;
}
.grid-item--height2 {
  height: 457px;
}
.grid-item--width3 {
  width: 570px;
}
.grid-item--width4 {
  width: 470px;
}
.grid-item--width5 {
  width: 370px;
}

.galery__photo {
  width: 100%;
  height: 100%;
  position: relative;
}
.galery__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.galery__photo-name {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  width: 279px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  background-color: #ffbf42;
  border-radius: 50px 0px 0px 0px;
  -webkit-border-radius: 50px 0px 0px 0px;
  -moz-border-radius: 50px 0px 0px 0px;
  -ms-border-radius: 50px 0px 0px 0px;
  -o-border-radius: 50px 0px 0px 0px;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 131.19%;
}

.reviews {
  padding-top: 54px;
  margin-bottom: 88px;
}
.reviews__title {
  margin-bottom: 53px;
}
.reviews__list {
  display: flex;
  width: 100%;
  overflow-x: auto;
  min-height: 250px;
  padding-bottom: 66px;
}
.reviews__list::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}

.reviews__list::-webkit-scrollbar-track {
  background-color: #ececec;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.reviews__list::-webkit-scrollbar-thumb {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background-color: #c4c4c4;
  height: 50px;
}
.reviews__item {
  margin-right: 78px;
  min-height: 192px;
  margin-top: 45px;
}
.reviews__block {
  width: 322px;
  min-height: 137px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.16);
  padding-left: 20px;
  padding-top: 22px;
  padding-right: 78px;
  line-height: 131.19%;
  position: relative;
  padding-bottom: 11px;
}
.reviews__text-header {
  margin-bottom: 13px;
  font-style: normal;
  font-size: 18px;
}
.reviews__name {
  font-weight: bold;
  color: #000000;
}
.reviews__profession {
  font-weight: normal;
  color: #c4c4c4;
}
.reviews__text {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  padding-left: 11px;
}
.reviews__img-wrap {
  position: absolute;
  right: -55px;
  top: -42px;
  width: 135px;
  height: 192px;
  overflow: hidden;
}
.reviews__img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .reviews__list {
    flex-direction: column;
    align-items: center;
    height: 636px;
    padding-bottom: 0;
  }
  .reviews__item {
    min-height: initial;
    margin-bottom: 30px;
  }
}

@media (max-width: 480px) {
  .reviews__title {
    margin-bottom: 40px;
  }
  .reviews__list {
    flex-direction: row;
    min-height: 180px;
    height: auto;
  }
  .reviews__item {
    margin-top: 32px;
    width: 246px;
    min-height: 105px;
    margin-bottom: 10px;
  }
  .reviews__item:last-child {
    margin-right: 0px;
  }
  .reviews__block {
    width: 246px;
    min-height: 51px;
    padding-right: 52px;
    padding-left: 15px;
    padding-bottom: 8px;
  }
  .reviews__profession {
    font-size: 12px;
    margin-bottom: 10px;
  }
  .reviews__text {
    font-size: 9px;
    line-height: 131.19%;
  }
  .reviews__img-wrap {
    width: 103px;
    height: 147px;
    right: -52px;
    top: -32px;
  }
}

.footer {
  min-height: 200px;
  background-color: #ffbf42;
  display: flex;
  align-items: center;
  padding: 70px 0px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.to-main {
  flex-grow: 1;
  display: flex;
  justify-content: end;
}

.to-main__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 57px;
  height: 57px;
  background-color: rgba(236, 236, 236, 0.48);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

@media (max-width: 768px) {
  .footer__content {
    width: 50%;
    flex-wrap: wrap;
    flex-grow: 0;
  }
  .footer .nav {
    margin: 43px 0px;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 42px 0px 34px 0px;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__content {
    width: 95%;
    justify-content: center;
    margin-bottom: 23px;
  }
}